@page
@model BookStore_Mock_Project.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "BoostrapLayout";
    
}
<div class="container">

    <h1 class="text-center">Login form</h1>


    <form method="post">
        <div class="container">
            <div class="form-group">
                <label >Username</label>
                <input type="text" class="form-control" asp-for="username" placeholder="Enter username" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" asp-for="password" placeholder="Enter password" />
            </div>
            <div class="d-flex gap-2 mt-2 mb-2">
                <div class="form-group">
                    <label><a style="color: blue">Forget password</a></label>
                </div>
                <div class="form-group">
                    <label><a style="color: black">Change Password </a></label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center gap-5">
            <button type="submit" asp-page-handler="Login" class="btn btn-primary" style="width: 100px">Login</button>
            <button type="submit" asp-page-handler="Register" class="btn btn-primary" style="width: 100px">Register</button>
        </div>
    </form>
</div>